<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<header th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{list.friends}">Lista de amigos</h2>
		<p th:text="#{list.message}">Los usuarios que actualmente figuran como tus amigos son los siguientes:</p>


		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>EMAIL</th>
						<th th:text="#{list.name}">Nombre</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${friendsList}" />
						<td th:text="${user.email}">defaultEmail</td>
						<td><a th:href="${'/publication/list/' + user.id}" th:text="${user.name}">defaultName</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer class="footer" th:replace="fragments/footer" />
</body>
</html>
