<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<header th:replace="fragments/nav" />
	<div class="container">
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por email o nombre del usuario" />
			</div>
			<button type="submit" class="btn btn-default" id="buscarButton" th:text="#{list.search}">Buscar</button>
		</form>
		<h2 th:text="#{list.users}">Usuarios</h2>
		<p th:text="#{list.petmessage}">Los usuarios que actualmente figuran en el sistema son los siguientes:</p>


		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>EMAIL</th>
						<th th:text="#{list.name}">Nombre</th>
						<th th:text="#{list.surname}">Apellidos</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}" th:object="${user}"
					    th:if="${user.email} != ${#authentication.getPrincipal().getUsername()}"  >
					    
						<td th:text="${user.email}">71888888X</td>
						<td th:text="${user.name}">Nombre del alumno</td>
						<td th:text="${user.lastName}">Apellidos del alumno</td>
						<td th:if="${#bools.isFalse(#lists.contains(friendsList,user))}">
							<div th:if="${#bools.isFalse(#lists.contains(peticionsList, user))}">
								<button type=" button" th:id="${'peticionButton' + user.id}" class="btn btn-if" th:text="#{list.addfriend}">AÑADIR AMIGO
										</button> 
										<script th:inline="javascript">
											/*<![CDATA[*/
											$("#peticionButton[[${user.id}]]")
													.click(function() { 
														$.get( "/user/[[${user.id}]]/makePeticion",function(data) {
															 var numberPage = [[${param.page}]];
															 var urlUpdate = '/user/list/update';
															 if ( numberPage != null ){
															 urlUpdate += "?page="+numberPage[0];
															 }
															$("#tableUser").load(urlUpdate);
															
															
														});
														$("#peticionButton[[${user.id}]]").removeClass("btn btn-if");
														$("#peticionButton[[${user.id}]]").addClass("btn btn-warning");
														$("#peticionButton[[${user.id}]]").text("PETICIÓN ENVIADA");
														$("#peticionButton[[${user.id}]]").attr('disabled', true);
													});
											/*]]>*/
										</script>
							</div>
							<div th:unless="${#bools.isFalse(#lists.contains(peticionsList, user))}">
								<button type=" button" th:id="${'peticionButton' + user.id}" class="btn btn-warning" th:text="#{list.petSend}">PETICIÓN ENVIADA
									</button>
								<script th:inline="javascript">
										/*<![CDATA[*/
										$("#peticionButton[[${user.id}]]").attr('disabled', true);
										/*]]>*/
								</script>
							</div>
						</td>
						<td th:unless="${#bools.isFalse(#lists.contains(friendsList,user))}">
							<button type=" button" th:id="${'peticionButton' + user.id}" class="btn btn-success" th:text="#{list.amigosYa}">YA SOIS AMIGOS
								</button>
							<script th:inline="javascript">
									/*<![CDATA[*/
									$("#peticionButton[[${user.id}]]").attr('disabled', true);
									/*]]>*/
							</script>
						</td>
						
						
						
					</tr>
					<tr th:each="user : ${usersList}" th:object="${user}"
					    th:unless="${user.email} != ${#authentication.getPrincipal().getUsername()}"  >
						<td th:text="${user.email}">71888888X</td>
						<td th:text="${user.name}">Nombre del usuario</td>
						<td th:text="${user.lastName}">Apellidos del usuario</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer class="footer" th:replace="fragments/footer" />
</body>
</html>
